{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block children %}
<main>
    <section>
        <h1>Davi Homes</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, commodi, obcaecati autem deserunt minima velit explicabo facere soluta magnam necessitatibus nesciunt nostrum veritatis doloribus omnis. Adipisci, rerum? Accusantium, dicta quaerat.</p>
    </section>
    <section>
        <h2>Fale conosco</h2>
        <form action="">
            <input type="text" name="fale" id="fale" placeholder="fala aí man suave">
        </form>
    </section>
</main>
{% endblock %}