{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block children %}
<main>
    <section>
        <h1>Home</h1>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, commodi, obcaecati autem deserunt minima velit explicabo facere soluta magnam necessitatibus nesciunt nostrum veritatis doloribus omnis. Adipisci, rerum? Accusantium, dicta quaerat.</p>
        <img class="home_img" src="{{img_url}}" alt="">
    </section>
</main>
{% endblock %}