<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <header>
        <p>pagina principal ie ie</p>
        <nav>
            <ul>
                <li><a href="/">Página principal</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/produtos">Produtos</a></li>
            </ul>
        </nav>
    </header>

    {% block children %}
    {% endblock %}

    <footer>
        <p>ferdev &copy;</p>
    </footer>

    </body>
</html>