{% extends "layout.html" %}

{% block title %}Produtos{% endblock %}

{% block children %}
<main>
    <section>
        <h1>Produtos</h1>
        <p>Aqui são os produtos</p>
    </section>
    <section>
        <div class="produtos">
            {% for produto in produtos %}
                <div class="produto">
                    <img src="{{ produto.img.url }}" alt="{{ produto.img.alt }}">
                    <div>{{ produto.nome }}</div>
                    <div>{{ produto.descricao }}</div>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}